<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small"
              (click)="onAddPosition()">
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div class="collection" >
        <a class="collection-item collection-item-icon"
           *ngFor="let position of positions"
           (click)="onSelectPosition(position)">
        <span>
          {{ position.name }} <strong>{{ position.cost }} руб.</strong>
        </span>
        <span>
          <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
        </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">
          В данной категории нет позиций
        </div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div #modal class="modal">
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input id="pos-name"
               type="text"
               formControlName="name"
               [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
        <label for="pos-name">Название</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
          Это поле обязательно для заполнения
        </span>
      </div>
      <div class="input-field">
        <input id="pos-cost"
               type="number"
               min="1"
               formControlName="cost"
               [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}">
        <label for="pos-cost">Цена</label>
        <span class="helper-text red-text" *ngIf="form.get('cost').errors?.required && form.get('cost').touched">
          Это поле обязательно для заполнения
        </span>
        <span class="helper-text red-text" *ngIf="form.get('cost').errors?.min && form.get('cost').touched">
          Минимальное значение 1
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="modal-action waves-effect waves-black btn-flat"
              (click)="onCancel()"
              [disabled]="form.disabled">
        Отмена
      </button>
      <button type="submit"
              class="modal-action btn waves-effect"
              [disabled]="form.invalid || form.disabled">
        Сохранить
      </button>
    </div>
  </div>
</form>
